@import url ('html:https://fonts.googleapis.com/css2?family=char

:root{
    --cor-fundo:  #10080E:
    --cor-principal: #0B0D20::after
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD
    --cor-texto: #D7F9FF